{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container form_bg">
    <h1>Add Order</h1>
    <form method="post">
        {% csrf_token %}
        <label for="order_date">Order Date:</label>
        <input type="date" id="order_date" name="order_date" required>

        <label for="sender_name">Sender Name:</label>
        <input type="text" id="sender_name" name="sender_name" required>

        <label for="sender_address">Sender Address:</label>
        <textarea id="sender_address" name="sender_address" required></textarea>

        <label for="receiver_name">Receiver Name:</label>
        <input type="text" id="receiver_name" name="receiver_name" required>

        <label for="receiver_address">Receiver Address:</label>
        <textarea id="receiver_address" name="receiver_address" required></textarea>

        <label for="receiver_email">Receiver Email:</label>
        <input type="email" id="receiver_email" name="receiver_email" required>

        <label for="receiver_phone">Receiver Phone:</label>
        <input type="tel" id="receiver_phone" name="receiver_phone" required>

        <input type="submit" value="Submit Order">
    </form>

    {% if order_submitted %}
        <h1>Order Submitted</h1>
    {% endif %}
</div>
{% endblock %}
