<!-- load static -->
{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- load static for css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>
    {% block title %}
    PILOT
    {% endblock %}
  </title>
</head>

<body>
  <nav class="bg-[#333333] flex flex-row py-4 px-10 justify-between">
    <h1 class="text-2xl text-white">
      PILOT</h1>
    <div>
      <form method="post" action="{% url 'search_order' %}" class="flex flex-row gap-2">
        {% csrf_token %}
        <input type="text" id="tracking_id" placeholder="tracking_id" name="tracking_id"
          class="block w-full bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-md py-1 px-3 block appearance-none leading-normal focus:border-blue-400">
        <button
          class="bg-[#FF4B00] text-white hover:bg-white hover:text-[#FF4B00] hover:border hover:border-[#FF4B00] font-bold py-1 px-3 rounded-md cursor-pointer">
          Search</button>
      </form>
    </div>

  </nav>
  {% block content %}{% endblock %}
</body>

</html>